html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
}

#flexContainer{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
}

#viewDiv {
  border:solid;
  flex:3;
}

#sidebar {
    display:flex;
    flex-direction: column;
    flex:2;
    padding:1rem;
    overflow: auto;
    border: solid;
   }

#sidebarHeader{
  display:flex;
  flex-direction:column;
}

.sidebarItem {
  margin:.5rem;
}

.sidebarNoInfo {
  text-align: center;
}

.sidebarButton {
  text-align: justify;
  font-style: bold;
  text-decoration: none;
  display:none;
  color:black;
}

.sidebarButton:hover{
  color:blue;
}

#sidebarFooter{
  margin-top: auto;
  align-self: center;
}

#sidebarFooter p {
  margin:0;
  padding:0;
}

#sidebarContent {
  display:flex;
  flex-direction: column;
}

form{
  font-size:1rem;
}

.formContainer {
  display:none;
  flex-direction: column;
  background-color: white;
  position:absolute;
  z-index: 3;
  width:25%;
  height:50%;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  padding:1rem 2rem 2rem 2rem;
  overflow: auto;
}

.formContainer h3{
  margin: .5rem;
  text-align: center;
}

.formField {
  padding:.5rem;
  background: #f1f1f1;
  border: none;
}

.dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  background-color:#f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg width%3D%2732%27%20height%3D%2732%27%20viewBox%3D%270%200%2032%2032%27%20xmlns%3D%27http://www.w3.org/2000/svg%27%3E%3Cpath%20d%3D%27M11%2013l5%205.833L21%2013z%27%20fill%3D%27%236e6e6e%27%20fill-rule%3D%27nonzero%27/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  border:none;
  padding: .5rem 0rem .5rem .5rem;
}

.formLabel{
  margin: .5rem 0 .5rem 0;
  font-weight: bold;
}

#openForm{
  color:black;
  text-decoration: none;
}

#openForm:hover{
  color:blue;
}

.finnMapBtn {
  display: inline-block;
  border: .05rem solid black;
  padding: .75rem 1.5rem;
  margin: .5rem 0 .5rem 0;
  text-decoration: none;
  background: #ccc;
  color: #222;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.finnMapBtn:hover {
  background:#bdbdbd;
}

.finnMapBtn:active {
  background:#ccc;
}

.widgetInfo {
  margin:0;
}

.widgetFooter{
  align-self: center;
  margin-top:auto;
  padding: 1rem;
}

#overlay{
  position:absolute;
  display:none;
  height:100%;
  width:100%;
  z-index:2;
  background-color:grey;
  opacity: 25%;
}

#visitHeader {
  display:none;
  flex-direction: row;
  align-items: center;
}

.headerItem{
  align-self: center;
  margin:.5rem;
}

#visitDate {
  margin: 0 0 0 auto;
}

#visitInfo p {
  margin:0rem;
}

#finnRank{
  margin:0 .25rem 0 0;
}

.rankStar {
  color: orange;
}

.closeButton {
  align-self: flex-end;
  font-size: 1.5rem;
  text-decoration: none;
}

.closeButton:hover {
  color:red;
}

.queryImg {
  max-width:100%;
}

.eventMsg{
  position: absolute;
  left: 50%;
  padding:.5rem;
  top:10%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  opacity:1;
}

.elementToFadeInAndOut {
    animation: fadeInOut 3s linear forwards;
}

/* For some reason firefox adds a text-indent no matter what, this is a hacky solution */
@-moz-document url-prefix() {
  select {
     text-indent: -2px;
  }
}

@keyframes fadeInOut {
 0% { opacity:0; }
 50% { opacity:1; }
 100% { opacity:0; }
}

@media screen and (max-width: 800px) {
  #flexContainer{
    flex-direction: column;
  }

  form {
    font-size:smaller;
  }

  .formContainer{
    width:70%;
  }

  .widgetFooter{
    margin:0;
  }

  #sidebar{
    flex:4;
    font-size:smaller;
    overflow:hidden;
  }

  #sidebarContent{
    overflow:auto;
    margin-bottom:.75rem;
    margin-top:.75rem;
  }

  .headerItem{
    margin:.25rem;
  }

}

@media screen and (orientation: landscape) and (max-width: 800px){
  #flexContainer{
    flex-direction: row;
  }

  #sidebar{
    flex:3;
  }
}
